body, html {
  background-color: #fff;
}

.v-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.height-auto{
  height: auto;
}

.no-border {
  border: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.custom-navbar-links li {
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase !important;
  letter-spacing: 1.1px;
}

.custom-navbar-links a {
  padding: 9px 12px !important;
  font-size: 15px;
}

.custom-navbar-links .demo-button, .custom-navbar-links .login-button{
  color: #777 !important;
  border-radius: 30px !important;
}

.submenu {
  border: 0;
  box-shadow: none;
}

.footer-flex-row {
  background-color: #f5f5f7;
  display: flex;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.flex-card {
  flex: 1;
  border-right: 1px solid #dbdbdb;
  padding: 50px;
}

.flex-card .fa {
  color: #54595f;
  font-size: 50px;
}

.flex-card h1 {
  color: #000;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.flex-card p {
    color: #000;
}

.flex-card .diff-p {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 0px;
}

.flex-card button {
  background-color: #fe8019;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 25px;
  letter-spacing: 1.1px;
  font-weight: bold;
  font-size: 13px;
}

.subscription-form {
  background-color: #f5f5f7;
}

.subscription-form img{
  margin-top: 60px;
  margin-bottom: 30px;
}

.subscription-form .footer-about {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 400px;
}

.subscription-form .subscribe-heading {
  color: #000;
  margin-top: 0;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}

.subscription-newsletter {
  padding-bottom: 90px;
}

.newsletter-input {
  padding: 10px 20px;
  margin: 0 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  outline: 0 !important;
}

.newsletter-button, .custom-button {
  background-color: #ff7200;
  border: 0;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
}

.custom-button {
  padding: 7px 25px;
}

.newsletter-button .fa {
  color: #fff;
  font-size: 20px;
}

.sub-footer p {
  font-family: "Roboto", Sans-serif;
  margin-bottom: 0;
  padding: 40px 0;
}

#jssor_1 {
  width: 100%;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img.jssor-image {
  z-index: -1 !important;
  filter: brightness(40%);
}

.header-content {
  color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  margin-top: 150px;
}

.header-content h1 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 600;
}

.header-content p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.index-presentation {
  background-color: #f5f5f7;
}

.flex-row {
  display: flex;
}

.feature {
  flex: 1;
  padding: 0 20px;
}

.index-presentation h1 {
  color: #000;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 33px;
}

.feature p {
  font-size: 17px;
  color: #000;
  margin-top: 25px;
  font-weight: 600;
}

.feature .fa {
  font-size: 30px;
  color: #ff513c;
}

.last-flex-row {
  margin-bottom: 50px;
}

.offer-collumn {
  flex: 1;
  background-color: #f5f5f7;
  margin: 0 2px;
  padding: 0 30px;
  text-align: center;
}

.offers-row {
  margin-bottom: 70px;
}

.index-prices .prices-h1 {
  text-align: center;
  margin-top: 70px;
  font-weight: bolder;
  color: #000;
  font-family: "Montserrat", Sans-serif;
  margin-bottom: 40px;
}

.index-prices .offer-collumn h1 {
  color: #ff7200;
  font-weight: bolder;
  font-size: 33px;
}

.index-prices .offer-collumn p {
  font-size: 28px;
  margin-top: 0;
  color: #000;
  margin-bottom: 50px;
}

.index-prices .offer-collumn span {
    display: block;
    margin: 10px 0;
    color: #000;
    font-size: 17px;
}

.index-prices .custom-button {
  font-size: 20px;
  font-family: "Roboto", Sans-serif;
}

.index-prices .offer-collumn {
  padding-bottom: 30px;
}

.f-header {
  background-color: #f5f5f7;
  padding-top: 70px;
}

.text-collumn h1 {
  color: #000;
  font-size: 27px;
  margin-bottom: 40px;
  font-weight: 900;
  font-family: "Montserrat", Sans-serif;
}

.f-header p {
  margin: 60px 0;
  color: #000;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
}

.f-header p strong {
  font-weight: 600;
  font-size: 17px;
}

.f-presentation {
  background-image: linear-gradient(to right, #ff7100 0%,#f23323 99%);
  padding: 60px 0;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
}

.f-presentation .odd {
  text-align: right;
  padding-right: 50px;
}

.f-presentation .even {
  padding-left: 50px;
}

.f-presentation h1 {
  font-weight: 600;
  font-size: 28px;
}

.f-presentation p {
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.f-emb-rows {
  padding: 20px 0;
}

.f-emb-rows .col-background {
  background-color: #f5f5f7;
  padding: 30px 20px;
}

.space-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.f-emb-rows h1 {
  color: #000;
  font-weight: 600;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.f-emb-rows p {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.b-header {
  background-image: linear-gradient(160deg, #26283b 50%, #ffffff 40%);
  padding: 150px 0;
  color: #fff;
}

.b-header h1 {
  font-size: 50px;
  margin-top: 80px;
}

.b-header p {
  font-size: 22px;
  margin-bottom: 15px;
}

.b-header .custom-button {
  font-size: 18px;
  font-weight: bold;
}

.b-presentation {
    padding: 100px 0;
}

.p-r-50 {
  padding-right: 50px;
}

.b-presentation h1 {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  font-family: "Roboto", Sans-serif;
  margin-bottom: 20px;
}

.b-presentation p {
  font-size: 17px;
  line-height: 22px;
}

.p-highlighted {
  color: #000;
  font-weight: 600;
  line-height: 26px;
}

.b-text {
  background-color: #f5f5f7;
  padding: 80px 0;
}

.b-text h1 {
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 27px;
  height: 70px;
}

.b-emb-row {
  background-color: #fa681c;
  padding: 40px 0 0;
  color: #fff;
  font-family: "Roboto", Sans-serif;
}

.b-emb-row h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 40px;
}

.b-emb-row p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.b-emb-row iframe {
  width: 100%;
  height: 600px;
  margin-bottom: -6px;
}

.b-last-row {
  padding-top: 50px;
}

.b-last-row h1 {
  color: #000;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
}

.b-last-row p {
  font-family: "Roboto", Sans-serif;
  color: #000;
  font-size: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.small-col-md {
  height: 160px;
}

.b-last-row .images-row {
  margin-top: 50px;
}

.shadowed-text {
  text-shadow: -2px 1px 8px rgba(0,0,0,0.88);
}

.se-header h1 {
  font-size: 47px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  color: #fff;
}

.se-header {
  background-image: url(../images/se-header.jpg);
  background-size: cover;
  background-position: center;
}

.se-header h1 {
  font-size: 47px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 200px 0;
}

.se-presentation {
  padding: 70px 0;
  background-color: #f5f5f7;
  color: #000;
}

.se-presentation ul {
  list-style-type: none;
  padding-left: 0;
}

.se-presentation .first-col p {
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #ff7200;
  font-size: 17px;
  margin-bottom: 5px;
}

.se-presentation .second-col {
  background-color: #fff;
  padding: 40px;
}

.se-presentation h1 {
  margin-top: 0;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}

.se-presentation .second-col p {
  display: inline-block;
  width: calc(100% - 50px);
  padding-left: 20px;
  line-height: 18px;
  margin-bottom: 17px;
}

.se-presentation .fa {
  color: #ff7200;
  font-size: 23px;
}

.max-500 {
  color: #000;
  font-size: 18px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 50px auto;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  line-height: 22px;
}


.se-title {
  background-color: #f5f5f7;
  padding: 20px 0;
  color: #000;
}

.se-title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 38px;
  margin: 60px 0;
}

.se-cols .custom-responsive-image {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.se-cols {
  text-align: center;
  margin: 30px 0;
}

.col-content {
  background-color: #f5f5f7;
  padding: 50px;
  color: #000;
}

.col-content h1 {
  font-size: 22px;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  height: 80px;
  margin-top: 30px;
}

.col-content p {
  font-size: 16px;
  font-family: "Roboto", Sans-serif;
  height: 200px;
}

.c-header {
  background-image: url('../images/c-banner.jpg');
}

.c-header {
  background-image: url(../images/c-banner.jpg);
  padding: 110px 0;
  color: #fff;
  background-size: cover;
  background-position: bottom;
}

.c-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 31px;
  font-weight: 600;
}

.c-about {
  margin: 100px 0;
  color: #000;
}

.c-about p {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 27px;
  margin-bottom: 30px;
}

.c-others {
  background-color: #f5f5f7;
  padding-bottom: 20px;
}

.c-others h1 {
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.c-others p {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
}

.c-partners {
  padding: 30px 0 50px;
  color: #000;
}

.c-partners h1 {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}

.co-header {
  background-image: url('../images/co-header.jpg');
  padding: 130px 0;
  background-position: bottom;
}

.co-header h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 600;
}

.co-title h1 {
    font-family: "Roboto", Sans-serif;
    font-size: 27px;
    line-height: 30px;
}

.contact-form-row h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}

.contact-form-row p {
  font-family: "Roboto", Sans-serif;
  color: #000;
  font-size: 17px;
  margin-bottom: 5px;
}

.contact-form-row h5 {
  margin-top: 25px;
  font-size: 17px;
  font-family: "Roboto", Sans-serif;
}

.contact-form-row {
  padding: 50px 0;
}

.contact-form-row input, .contact-form-row textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #c9c9c9;
}

.square-button {
  border-radius: 5px;
  border: 0;
  background-color: #fe8019;
  color: #fff;
  padding: 6px 30px;
  font-size: 18px;
  font-weight: bold;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

@media screen and (max-width: 767px)
{
  .newsletter-input {
    max-width: 250px;
  }
  .flex-card, .offer-collumn {
    flex: 0 0 auto;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
  }
  .footer-flex-row, .flex-row {
    display: block;
  }
  .header-content p {
    display: none;
  }
  .header-content h1 {
    font-size: 35px;
  }
  .f-presentation .odd {
    text-align: left;
    padding-left: 50px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .b-header {
    text-align: center;
  }
  .b-header h1 {
    margin-top: 0;
  }
  .b-last-row .images-row {
    display: none;
  }
  .c-partners img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  button.square-button {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px)
{
  #bs-example-navbar-collapse-1 {
    text-align: center;
  }
  #custom-navbar-links {
    float: none !important;
    display: inline-block;
  }
  .custom-navbar-links li {
    padding: 20px 2px !important;
  }
  .custom-navbar-links .submenu li {
    padding: 10px 2px !important;
  }
  .custom-navbar-links a {
    padding: 9px 5px !important;
  }
  .custom-navbar-links .demo-button, .custom-navbar-links .login-button{
    color: #fff !important;
    padding: 7px 16px !important;
  }
  .custom-navbar-links .demo-button, .custom-navbar-links .demo-button:hover {
    background-color: #ff7200 !important;
  }
  .custom-navbar-links .login-button, .custom-navbar-links .login-button:hover {
    background-color: #61ce70 !important;
  }
}

@media screen and (min-width: 1200px)
{
  .custom-navbar-links a {
    padding: 9px 20px !important;
  }
  .custom-navbar-links .demo-button, .custom-navbar-links .login-button{
    color: #fff !important;
    padding: 7px 16px !important;
  }
  #custom-navbar-links {
    float: right !important;
  }
}
